<link href="/stylesheets/particles.css" rel="stylesheet"  type="text/css">
    </head>




    <div id="particles-js" >
        <div id="intro">
            <h20>Pied Piper</h20>
            
    </div>
    	
            
            </div>
    
<script src="/javascripts/particles.js"></script>
    <script src="/javascripts/particles.min.js"></script>
    <script src="/javascripts/particlesapp.js"></script>
<div class="container">

		<div class="row mt centered">
                 <body background = "/images/silver_bg.jpg">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Team</h1>
                                <h2>Aims to bring you live updates on a range of games 24/7.<h2>
							</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img class="img-circle" src="/images/David.jpg" width="140" alt="">
				<h4>David Tubridy</h4>
				
                <p><i class="glyphicon glyphicon-send" style = "color:black"></i> <i class="glyphicon glyphicon-phone" style = "color:black"></i> <a href = "https://www.facebook.com/david.tubridy"><i class="glyphicon glyphicon-globe" style = "color:black" ></i></a></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="/images/jordan.jpg" width="140" alt="">
				<h4>Jordan Coyne</h4>
				
				<p><i class="glyphicon glyphicon-send" style = "color:black"></i> <i class="glyphicon glyphicon-phone" style = "color:black"></i> <i class="glyphicon glyphicon-globe" style = "color:black"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="/images/Eamonn.jpg" width="140" alt="">
				<h4>Eamonn Fox</h4>
				
				<p><i class="glyphicon glyphicon-send" style = "color:black"></i> <i class="glyphicon glyphicon-phone" style = "color:black"></i> <i class="glyphicon glyphicon-globe" style = "color:black"></i></p>
            </div><!--/col-lg-4 -->
            </div><!-- /row -->
        <div class="row mt centered">
            <div class="col-lg-7">
				<img class="img-circle" src="/images/Davin.jpg" width="140" alt="">
				<h4>Davin O'Brien</h4>
				
				<p><i class="glyphicon glyphicon-send" style = "color:black"></i> <i class="glyphicon glyphicon-phone" style = "color:black"></i> <i class="glyphicon glyphicon-globe" style = "color:black"></i></p>
          </div><!--/col-lg-4 -->
            
            <div class="col-lg-3">
				<img class="img-circle" src="/images/Jack.jpg" width="140" alt="">
				<h4>Jack Sheehan</h4>
				
				<p><i class="glyphicon glyphicon-send" style = "color:black"></i> <i class="glyphicon glyphicon-phone" style = "color:black"></i> <i class="glyphicon glyphicon-globe" style = "color:black"></i></p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
		</div><!-- /container -->
		
		
		
		
		<div class="container" align = "center">
				<div class="row mt centered">
                                  <h1>Have a question? </h1>
                                      <br>
					<form id="contactform" class="form-vertical" action="https:formspree.io/tubbs@live.ie" method="post">
						
						<div class ="form-group" align = "center">
							<label for="user-name" style = "color:black" >Name:</label>
								<input type="text" class="form-control" id="target1" name="user-name" placeholder="Enter your name" required="">
						</div>
					  
						<div class="form-group" align = "center">
							<label for="user-email" style = "color:black" >Email:</label>
								<input type="text" class="form-control" id="target2" name="user-email" placeholder="Enter your email address" required="">
						</div>

						<div class="from-group" align = "center">
							<label for="user-email" style = "color:black" >Message:</label>
								<input type="text"  class="form-control" id="target3" name="user-message" placeholder="Enter your message here" required="">
						</div>
						<br>
						<div class="form-group" align = "center">
								<input type ="submit" id="Send" class="btn btn-warning btn-lg" value="Send">
						</div>
					 </form>
				</div>
			</div>
		
		
