
<head>
    
  <link href="/stylesheets/particles.css" rel="stylesheet"  type="text/css">
    </head>




    <div id="particles-js" >
        <div id="intro">
            <h20>Pied Piper</h20>
            
    </div>
    	
            
            </div>

<body background = "/images/silver_bg.jpg"> 

    <br>		
    <h1 align="center">Fixtures</h1>
    <center>
    <a href = "#Bot">Click here for live chat<a>
    </center>
    
    
    <div>
            
        <div class="row mt centered" >
			<div class="col-lg-1" style="padding-left:8%; padding-bottom:2%; padding-right:12%; width:10px">
            <a href="/premFixtures"><img src="/images/Prem_logo_white.png" class = "circle"style= "width:250px; height:200px"></a>
			</div>
         
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:2%; padding-right:8%">
            <a href="/championshipFixtures"><img src="/images/EFL_Championship.svg.png" class = "circle"style= "width:200px; height:200px"></a>
			</div>
            
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:4%; padding-right:8%">
            <a href="/leagueOneFixtures"><img src="/images/League_One.png" class = "circle"style= "width:200px; height:200px"></a>
			</div>
            
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:2%; padding-right:8%">
            <a href="/leagueTwoFixtures"><img src="/images/League_Two.png" class = "circle"style= "width:200px; height:200px"></a>
			</div>
            
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:2%; padding-right:8%">
            <a href="/bundesligaFixtures"><img src="/images/Logo Bundesliga.png" class = "circle"style= "width:250px; height:220px"></a>
			</div>
        </div><!-- /row -->
        
        <div class="row mt centered" >
			<div class="col-lg-1" style="padding-left:8%; padding-bottom:2%; padding-right:12%; width:10px">
            <a href="/laLigaFixtures"><img src="/images/La Liga.png" class = "circle"style= "width:250px; height:200px"></a>
			</div>
         
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:2%; padding-right:8%">
            <a href="/SerieAfixtures"><img src="/images/Serie A.png" class = "circle"style= "width:200px; height:200px"></a>
			</div>
            
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:4%; padding-right:8%">
            <a href="/eredivisieFixtures"><img src="/images/eredivisie.png" class = "circle"style= "width:200px; height:200px"></a>
			</div>
            
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:2%; padding-right:8%">
            <a href="/ligaPortugalFixtures"><img src="/images/portugal.png" class = "circle"style= "width:200px; height:200px"></a>
			</div>
            
            <div class="col-lg-1" style="padding-left:8%;padding-bottom:2%; padding-right:8%">
            <a href="/ligue1Fixtures"><img src="/images/Ligue1.png" class = "circle"style= "width:250px; height:220px"></a>
			</div>
        </div><!-- /row -->
            
            

              

		
	


			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

 <link rel='stylesheet' href='/stylesheets/chatStyle.css' >
<meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <br> 
     <h1 align="center">Live Chat</h1>   
    

    <section>
      <div id="change_username">
	<input id="username" type="text" />
	<button id="send_username" type="button">Change username</button>
      </div>
    </section>

  


<div style="background-color: #99ff99">
	
    <div id="chatroom">
      <section id="feedback"></section>
    </div>
 
    <section id="input_zone"> 
      <input id="message"  type="text" />
      <button id="send_message"  type="button">Send</button>
 
    </section>


 <script src="/javascripts/particles.js"></script>
    <script src="/javascripts/particles.min.js"></script>
    <script src="/javascripts/particlesapp.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>var d = $('#chatroom');
d.scrollTop(d.prop("scrollHeight"));</script>
    <script src="javascripts/chat.js"></script>
	</div>
      <a name ="Bot">

		<p class="centered">Created by Pied Piper</p>
	</div><!-- /container -->