<!DOCTYPE html>
<html>
  <head>
      <style>

</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Pied Piper</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.css" rel="stylesheet">
      <link href="/stylesheets/navbar.css" rel="stylesheet">
      
      

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>


    <script>(function(){var ticker=document.createElement('script');ticker.async=true;ticker.src='https://embed.twitcker.com/ticker/PiedPiperScores.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(ticker);})();</script>
      <!-- Load jQuery -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    
      <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>Pied Piper</b></a>
            <img class="img-circle" src="/images/logo.png" width="40" height="40" alt="">
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
           

<li><div class="dropdown">
  <button class="dropbtn">Scores</button>
  <div class="dropdown-content">
    <a href="/premScores">Premiership</a>
    <a href= "/chamScores">Championship</a>
    <a href="/league1Scores">League 1</a>
      <a href="/league2Scores">League 2</a>
      <a href="/laLigaScores">La Liga</a>
      <a href="/serieAScores">Serie A</a>
      <a href="/bundScores">Bundesliga</a>
      <a href="/portugalScores">Liga Portugal</a>
      <a href="/eredScores">Eredivisie</a>
      <a href="/ligue1Scores">Ligue 1</a>
  </div></li>		   
    
           <li><div class="dropdown">
  <button class="dropbtn">Fixtures</button>
  <div class="dropdown-content">
    <a href="/premFixtures">Premiership</a>
    <a href= "/championshipFixtures">Championship</a>
    <a href="/leagueOneFixtures">League 1</a>
      <a href="/leagueTwoFixtures">League 2</a>
      <a href="/laLigaFixtures">La Liga</a>
      <a href="/SerieAfixtures">Serie A</a>
      <a href="/bundesligaFixtures">Bundesliga</a>
      <a href="/ligaPortugalFixtures">Liga Portugal</a>
      <a href="/eredivisieFixtures">Eredivisie</a>
      <a href="/ligue1Fixtures">Ligue 1</a>
  </div></li>
               <li><div class="dropdown">
  <button class="dropbtn">Standings</button>
  <div class="dropdown-content">
    <a href="/premLeaderboard">Premiership</a>
    <a href= "/champLeaderboard">Championship</a>
    <a href="/leagueOneLeaderboard">League 1</a>
      <a href="/leagueTwoLeaderboard">League 2</a>
      <a href="/laLigaLeaderboard">La Liga</a>
      <a href="/SerieALeaderboard">Serie A</a>
      <a href="/bundesligaLeaderboard">Bundesliga</a>
      <a href="/ligaPortugalLeaderboard">Liga Portugal</a>
      <a href="/eredivisieLeaderboard">Eredivisie</a>
      <a href="/ligue1Leaderboard">Ligue 1</a>
  </div></li>
           
              <li><a href="/feed">Feeds</a></li>
               
              <li><a href="/about">About us/ Help</a></li>
              <li><a href="/users/login">Sign in</a></li>
              
              <li><a href="#" id="logout" onclick="signOut();">Logout</a></li>
          </ul>
        </div>
          <!--/.nav-collapse -->
          
       
      </div>
    </div>
      

    {{{body}}}
      <!-- Placed at the end of the document so the pages load faster -->
    <script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>

        <script src="/javascripts/feed.js"></script>
      <script src="/javascripts/auth.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      
      


        


  </body>
</html>
